.DS_Store
Svelte/node_modules
Electron/node_modules
/build
Svelte/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
Svelte/pnpm-lock.yaml
Electron/pnpm-lock.yaml
Electron/src
Svelte/build
Svelte/bun.lockb
